apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
      - name: python-app
        image: zznoelzz/nt548-lab2-app:latest # Thay your-docker-id bằng tên thật của bạn
        ports:
        - containerPort: 5000
